<html>
  <head>
    <title>Surat Izin Pelayanan Ekaristi</title>
    <style>
      body{
        padding: 30px 50px;
        position: relative;
      }

      .title{
        text-align: center;
        font-weight: 600;
      }
      .text-center { text-align: center; }
      .text-right { text-align: right; }

      .logo{
        margin: 0 auto;
        width: 100px;
      }
      .divider{
        width: 100%;
        height: 10px;
        border-top: 3px solid #000;
        border-top: 1px solid #000;
      }

      p {
        line-height: 1.5rem;
      }

      .ttd{
        width: 50%;
        margin: auto;
        position: relative;
      }

      .end {
        margin-top: 50px;
      }

      .footer {
        position: absolute;
        bottom: 30;
      }
    </style>
  </head>
  <body>
    <div class="head">
      <div class="logo">
        <img
          src="http://localhost:5000/logo.jpg"
          style="width: inherit;"
        />
      </div>
      <h1 class="title">GEREJA HSP MARIA TAK BERCELA</h1>
      <p class="text-center">
        Jalan Kumetiran 13 Telp. 0274-512817, 518586 <br>
        Yogyakarta 55272
      </p>
    </div>

    <div class="divider"></div>

    <div class="top">
      <p>LINGKUNGAN: {{ nama_lingkungan }}</p>

      <h2 class="title">SURAT IZIN PELAYANAN EKARISTI</h2>
      <p class="text-center">{{ no_surat }}</p>
    </div>
    
    <div class="content">
      <p>
        Yang bertandatangan dibawah ini Ketua Lingkungan {{ ketua_lingkungan }} <br>
        dengan ini memohon izin kepada Romo Paroki untuk pelayanan Ekaristi di 
        Lingkungan kami, yang akan diadakan pada:
      </p>
      <table style="width: 80%; margin: auto;">
        <tr>
          <td>
            <p>Hari/Tgl</p>
          </td>
          <td>
            <p>: HARIIII {{ tgl_pelaksanaan }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Waktu Pukul</p>
          </td>
          <td>
            <p>: {{ waktu_mulai }}-{{ waktu_selesai }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Ujud/Intensi</p>
          </td>
          <td>
            <p>: {{ intensi }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Tempat/Rumah</p>
          </td>
          <td>
            <p>: {{ lokasi_rumah }}</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>Telp/HP: {{ no_telp_lokasi }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Dipimpin oleh</p>
          </td>
          <td>
            <p>: Romo {{ romo_pemimpin }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Alamat/Komunitas</p>
          </td>
          <td>
            <p>: {{ alamat_komunitas }}</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>Telp/HP: {{ no_telp_komunitas }}</p>
          </td>
        </tr>
      </table>
      <p>
        Demikian permohonan kami, atas terkabulnya, kami ucapkan terima kasih.
      </p>
    </div>

    <div class="end">
      <p class="text-right" style="margin-right: 80px;">
        Yogyakarta, {{ created_at }}
      </p>

      <div style="display: flex;">
        <div class="text-center ttd">
          <p>
            Mengizinkan
            <br>
            <br>
            <br>
          </p>
          <p class="nama-ttd">{{ nama_romo_paroki }}</p>
          <p>Pastor Paroki</p>
        </div>
        <div class="text-center ttd">
          <p>
            Hormat kami
            <br>
            <br>
            <br>
          </p>
          <p class="nama-ttd">{{ ketua_lingkungan }}</p>
          <p>Ketua Lingkungan</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <em>
      </em>
    </div>
  </body>
</html>