<html>
  <head>
    <title>Surat Pelayanan Minyak Suci</title>
    <style>
      body{
        padding: 30px 50px;
        position: relative;
      }

      .title{
        text-align: center;
        font-weight: 600;
      }
      .text-center { text-align: center; }
      .text-right { text-align: right; }
      .line-height-normal { line-height: 1rem !important;}

      .logo{
        margin: 0 auto;
        width: 80px;
      }
      .divider{
        width: 100%;
        height: 10px;
        border-top: 3px solid #000;
        border-top: 1px solid #000;
      }

      p {
        line-height: 1.5rem;
      }

      .ttd{
        width: 50%;
        margin: auto;
        position: relative;
      }

      .end {
        margin-top: 50px;
      }

      .footer {
        position: absolute;
        bottom: 30;
      }
    </style>
  </head>
  <body>
    <div class="head">
      <div class="logo">
        <img
          src="http://localhost:5000/logo.jpg"
          style="width: inherit;"
        />
      </div>
      <h1 class="title line-height-normal">GEREJA HSP MARIA TAK BERCELA</h1>
      <p class="text-center line-height-normal">
        Jalan Kumetiran 13 Telp. 0274-512817, 518586 <br>
        Yogyakarta 55272
      </p>
    </div>

    <div class="divider"></div>

    <div class="top">
      <p class="line-height-normal">LINGKUNGAN: {{ nama_lingkungan }}</p>

      <h2 class="title line-height-normal">SURAT PELAYANAN MINYAK SUCI</h2>
      <p class="text-center">No.: {{ no_surat }}</p>
    </div>
    
    <div class="content">
      <table style="width: 80%; margin: auto;">
        <tr>
          <td>
            <p>Nama lengkap</p>
          </td>
          <td>
            <p>: {{ nama }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Nama Baptis</p>
          </td>
          <td>
            <p>: {{ nama_baptis }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Tempat/tgl lahir</p>
          </td>
          <td>
            <p>: {{ tempat_lahir }}/{{ tgl_lahir }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Alamat</p>
          </td>
          <td>
            <p>: {{ alamat }}</p>
          </td>
        </tr>
        <tr>
          <td>Menikah secara</td>
          <td>
            <p>: {{ cara_menikah }} <span style="margin-left: 30px;">Tahun: {{ tahun_menikah }}</span></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Pelayanan Minyak Suci</p>
          </td>
          <td>
            <p>: {{ status_terima_minyak }} <span style="margin-left: 30px;">Tgl: {{ tgl_terima_minyak }}</span></p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Nama pasangan</p>
          </td>
          <td>
            <p>: {{ nama_pasangan }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Nama keluarga yang<br>
              bertanggung jawab
            </p>
          </td>
          <td>
            <p>: {{ nama_keluarga_penanggung_jawab }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Alamat</p>
          </td>
          <td>
            <p>: {{ alamat_keluarga_penanggung_jawab }}</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p>Telp/HP: {{ no_telp_keluarga_penanggung_jawab }}</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="end">
      <p class="text-right line-height-normal" style="margin-right: 80px;">
        Yogyakarta, {{ created_at }}
      </p>

      <div style="display: flex;">
        <div class="text-center ttd">
          <p>
            <br>
            Pastor yang melayani
            <br>
            <br>
            <br>
          </p>
          <p class="nama-ttd">{{ nama_pastor_pelayan }}</p>
        </div>
        <div class="text-center ttd">
          <p>
            Hormat kami<br>
            Ketua Lingkungan/Penanggung jawab Saksi
            <br>
            <br>
            <br>
          </p>
          <p class="nama-ttd">{{ ketua_lingkungan }}</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <em>
        Catatan:<br>
        Dilaporkan ke Sekretariat Paroki setelah pelaksanaan Sakramen
      </em>
    </div>
  </body>
</html>